doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-switch.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-3.3.1.min.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/bootstrap-switch.min.js")
    script(src="javascripts/mailvelope-manual-test.js")
  body
    .container
      .row
        .col-sm-8
          h2 Manual Tests
        .col-sm-4
          p.text-right
            a.btn.btn-default(href="/") Back to start page

      p
        .btn-group
          button#clearBtn.btn.btn-default Clear
          button#initEditorBtn.btn.btn-default Init editor
          button#restoreDraftBtn.btn.btn-default Restore draft

      .panel.panel-default
        .panel-heading
          h3.panel-title Encrypt message:
        .panel-body
          .row
            .col-sm-6
              .form-group
                .input-group
                  span.input-group-addon From:
                  input#senderAddress(value="test@mailvelope.com").form-control
            .col-sm-6
              .form-group
                .input-group
                  span.input-group-addon To:
                  input#toAddress(value="test@mailvelope.com").form-control

          #editorCont(style="height: 350px;margin:1em 0")
          .form-group
            input#toggleEditor(type="checkbox" name="my-checkbox" checked)
            button#encryptBtn.btn.btn-primary Encrypt
            button#draftBtn.btn.btn-default Create draft

        .panel-footer
          .form-group
            .input-group
              span.input-group-addon Time in (ms):
              input#encryptTime(disabled).form-control
        .panel-heading
          h3.panel-title Decrypt message:
        .panel-body
          .form-group
            textarea#armored_msg(rows="12", style="width: 100%").form-control
          .form-group
            .input-group
              span.input-group-btn
                button#decryptBtn.btn.btn-primary Decrypt
              span.input-group-addon Time in (ms):
              input#decryptTime(disabled).form-control
        .panel-heading
          h3.panel-title Decrypted message in DisplayContainer
        .panel-body
          #display_cont(style="height: 350px")

      .panel.panel-default
        .panel-heading
          h3.panel-title Import public key:
        .panel-body
          .form-group
            textarea#armored_key(rows="12", style="width: 100%").form-control
          .form-group
            .input-group
              span.input-group-btn
                button#importBtn.btn.btn-primary Import
              span.input-group-addon Result status:
              input#importStatus(disabled).form-control

      .panel.panel-default
        .panel-heading
          h3.panel-title Backup server sync:
        .panel-body
          .form-group
            textarea#backupServerSync(rows="12", style="width: 100%").form-control
        .panel-footer
          .form-group
            label.checkbox-inline
              input#downloadBackupFail(type="checkbox")
              | Download backup fail
            label.checkbox-inline
              input#uploadBackupFail(type="checkbox")
              | Upload backup fail
          .form-group
            .input-group
              span.input-group-addon eTag:
              input#eTag.form-control
              span.input-group-btn
                button#generateEtagBtn.btn.btn-primary generate

      .panel.panel-default
        .panel-heading
          h3.panel-title KeyGen &amp; PrivateKeyBackup Generator:
        .panel-body
          #private_key_backup_cont(style="height: 350px;margin-bottom:1em")
        .panel-footer
          .btn-group(role=group)
            button#createKeyGenGeneratorBtn.btn.btn-primary create KeyGen Container
            button#generateGeneratorBtn.btn.btn-default(disabled) generate
            button#createKeyBackupContainerBtn.btn.btn-default create Backup
            button#recreateKeyBackupContainerBtn.btn.btn-default recreate Backup
          .btn-group(role=group)
            button#restoreBackupContainerBtn.btn.btn-default restore Backup
            button#restorePasswordContainerBtn.btn.btn-default restore Password
          .row
            .col-lg-2
              .checkbox
                label
                  input#confirmKeyGen(type="checkbox")
                  | Confirm key upload
              .checkbox
                label
                  input#rejectKeyGen(type="checkbox")
                  | Reject key upload
              .input-group
                input#confirmDelay.form-control(type="text")
                span.input-group-addon ms

      .panel.panel-default
        .panel-heading
          h3.panel-title Check if keyring has private key for given fingerprint:
        .panel-body
          .alert.alert-info(role=alert) Copy the fingerprint from your mailvelope extension
          .form-group
            label.control-label Fingerprint
            input#fingerprintInput(placeholder="Fingerprint without spaces").form-control
          .form-group
            output#hasPrivateKey_cont.form-control
        .panel-footer
          .btn-group(role=group)
            button#hasPrivateKeyBtn.btn.btn-success Check

      .panel.panel-default
        .panel-heading
          h3.panel-title Open Settings:
        .panel-body
          div(id="settings", style="height: 700px; width: 100%")
        .panel-footer
          .btn-group(role=group)
            button#openSettingsBtn.btn.btn-default Open Settings in Tab
            button#openIframeSettingsBtn.btn.btn-default Open Settings in iFrame

      #disconnectModal.modal.fade(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Disconnect Event
            .modal-body
              p Event "mailvelope-disconnect" triggered due to extension update
              .form-group
                label.control-label New version
                input#newVersion.form-control
            .modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Close
